.nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #1D4E89;
    align-items: center;
    color: white;
    font-size: 20px;
}

.Logo{
    padding-left: 20px;
}

.botoes{
    padding-right: 150px;
    font-family: 'Russo One', sans-serif;
    color: white;
    text-decoration: none;
}

.cor_rodape{
    background-color: #1D4E89;
    height: 80px;
    position: bottom;
    bottom: 0;
    text-align: center;
    color: white;
    font-size: 15px;
}

.text_img_centro{
 text-align: center;
 padding: 100px;
 font-size: 25px;
}
.roboto{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.Amethysta{
    font-family: 'Amethysta', serif;
    padding-top: 20px;
}
#itensDropdown{
    background-color: transparent;
    color: white;
    border: none;
    background-color: #1D4E89;
}
#itensDropdown:hover{
    background-color: #1D4E89;
}
.icones{
    position: relative;
    bottom: 3px;
}
